/*-- scss:defaults --*/
// Colors
 $primary: #009BE8;  
 $secondary: #e83e8c;
 //$body-bg: #c71c22;
 $link-color: $primary;
// Fonts
 $font-family-sans-serif: "Open Sans", sans-serif;
 $font-family-monospace: "Source Code Pro", monospace;


/*-- scss:mixins --*/
// This is empty by default -- add your mixins here


/*-- scss:rules --*/

details>summary {
    padding: 4px;
    width: 100%;
    background-color: #fffffff;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 0;
}

h1, .h1 {
  padding-top: 50px;
  padding-bottom: 0px;
  font-weight: 500;
  line-height: 5.5;
  color: $primary;
  text-align: center;
}



h2, .h2 {
  font-weight: 500;
  color: $primary;
  text-align: left;
  & .header-section-number {color: $secondary;}
  padding-bottom: 30px;
}

h3, .h3 {
  font-weight: 500;
  color: #343a40;
  text-align: left;
  padding-bottom: 30px;
  & .header-section-number {color: $primary;}
}


section.level2  {
  margin-bottom: 300px;
}

section.level3  {
  margin-bottom: 200px;
}

section.level4  {
  margin-bottom: 100px;
}

.definition {
    margin-bottom: 50px;
    margin-top: 50px;
}

#acknowledgements {
  text-align: justify;
  margin-top: 20px;
  font-size: 13px;
}

#quarto-code-tools-menu {
  position: fixed;
  margin: 0px 40px 20px 40px;
  right: 0;
  bottom: 0;
}